.about-us {
  margin-bottom: 60px;

  &__header {
    .headerText;
    width: 260px;
    .alignment;
    margin-bottom: 30px;
  }

  &__list {
    list-style-type: none;
    width: 260px;
    .alignment;
    padding: 0;
  }

  &__achievement {
    .font(@openSans; 16px; 18px; 700; @black);
    width: 260px;
    margin-bottom: 27px;
    padding-top: 60px;

    &--ach1 {
      background: url('../../img/icon-feature-1.svg') no-repeat 5px 7px;
    }

    &--ach2 {
      background: url('../../img/icon-feature-3.svg') no-repeat 0px 7px;
    }

    &--ach3 {
      background: url('../../img/icon-feature-5.svg') no-repeat 5px 7px;
    }

    &--ach4 {
      background: url('../../img/icon-feature-2.svg') no-repeat 5px 7px;
    }

    &--ach5 {
      background: url('../../img/icon-feature-4.svg') no-repeat 0 7px;
    }

    &--ach6 {
      background: url('../../img/icon-feature-6.svg') no-repeat 5px 7px;
    }
  }
}

@media @tablet-width {
  .about-us {
    width: 670px;
    .alignment;
    padding-top: 20px;

    &__header {
      .headerTabletText;
      width: 330px;
      margin: 0;
      margin-right: auto;
      margin-bottom: 40px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }

    &__achievement {
      .font(@openSans; 20px; 25px; 700; @black);
      width: 330px;
      margin-bottom: 45px;
    
      &--ach1 {
      order: 1;
      }

      &--ach2 {
        order: 3;
      }

      &--ach3 {
        order: 5;
      }

      &--ach4 {
        order: 2;
      }

      &--ach5 {
        order: 4;
      }

      &--ach6 {
        order: 6;
      }
    }    
  }
}

@media @desktop-width {
  .about-us {
    padding-top: 35px;
    margin-bottom: 60px;

    &__header {
      .headerDesktopText;
      width: 400px;
    }
  }
}