.btn {
  .font(@openSans; 16px; 24px; 700; @black);
  text-transform: uppercase;
  display: block;
  background-color: transparent;
  border: 2px solid @black;
  width: 100%;
  padding: 12px 0;
  cursor: pointer;
  outline: none;

  @keyframes btnColor {
    0% {
      background-color: transparent;
    }

    100% {
      background-color: @darkGray;
    }
  }

  &:hover {
    color: @white;
    border-color: @darkGray;
    animation: btnColor 0.3s ease-in-out forwards;
  }

  &:active {
    color: rgba(255,255,255, 0.3);
    background-color: @darkGray;
    border-color: @darkGray;
  }
}

.btn--write-us {
  position: absolute;
  width: 260px;
  bottom: 0px;
  left: 50%;
  margin-left: -130px;
}

@media @tablet-width {
  .btn--write-us {
    position: absolute;
    bottom: 15px;
    margin-left: -115px;
    left: 50%;    
    width: 230px;
  }

  .btn--submit {
    width: 230px;
  }

  .btn--slider {
    right: 48px;
    position: absolute;
    width: 172px;
  }
}

@media @desktop-width {
  .btn--write-us {
    left: 280px;
    bottom: 0px;
  }

  .btn--slider {
    top: 87px;
    right: 4px;
  }

  .btn--order {
    width: 230px;
  }
}