.btn {
  .font(@openSans; 16px; 24px; 700; @black);
  text-transform: uppercase;
  display: block;
  background-color: transparent;
  border: 2px solid @black;
  width: 100%;
  padding: 12px 0;
}

@media @tablet-width {
  .btn--write-us {
    position: absolute;
    bottom: 15px;
    margin-left: -115px;
    left: 50%;    
    width: 230px;
  }
}

@media @desktop-width {
  .btn--write-us {
    left: 280px;
    bottom: 0px;
  }
}