.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  .alignment;
  padding-top: 10px;

  &__header {
    .headerText;
    width: 260px;
    .alignment;
    margin-bottom: 25px;

  }

  &__email {
    .paragraphText;
    display: flex;
    width: 260px;
    .alignment;
    margin-bottom: 30px;

    & p {
      margin: 0;
      margin-left: 30px;
    }
  }

  &__address {
    .paragraphText;
    display: flex;
    width: 260px;
    .alignment;
    margin-bottom: 33px;
    
    & p {
      margin: 0;
      margin-left: 30px;
    }
  }
}

@media @tablet-width {
  .contacts {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 670px;
      .alignment;
    }

    &__header {
      .headerTabletText;
      position: relative;
      width: 670px;
      margin-bottom: 50px;

      &::before {
        position: absolute;
        content: '';
        right: 0;
        width: 47px;
        height: 81px;
        background-image: url('../img/icon-flag.svg');
      }
    }
  
    &__email {
      .TabletParagraphText;
      width: 300px;
      margin: 0;
      margin-bottom: 117px;
    }

    &__address {
      .TabletParagraphText;
      width: 300px;
    }
  }
}

@media @desktop-width {
  .contacts {
    flex-wrap: nowrap;
    width: 1050px;
    margin-bottom: 105px;
    padding-top: 45px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin-right: 0;
      margin-left: 165px;
      padding-top: 70px;
    }

    &__header {
      .headerDesktopText;
      width: 300px;
      margin-left: 0;

      &::before {
        left: -100px;       
      }
    }
  
    &__email {
      .contactParagraphText;
      width: 300px;
      margin-bottom: 25px;
    }

    &__address {
      .contactParagraphText;
      width: 300px;
      margin: 0;
      margin-bottom: 100px;
    }
  }
}