.contacts {
  display: flex;
  flex-direction: column;
  width: 260px;
  .alignment;

  &__header {
    .headerText;
    width: 260px;
    .alignment;
    margin-bottom: 20px;

  }

  &__email {
    .paragraphText;
    display: flex;
    width: 260px;
    .alignment;
    margin-bottom: 30px;

    & p {
      margin: 0;
      margin-left: 30px;
    }
  }

  &__address {
    .paragraphText;
    display: flex;
    width: 260px;
    .alignment;
    margin-bottom: 33px;
    
    & p {
      margin: 0;
      margin-left: 30px;
    }
  }
}

@media @tablet-width {
  .contacts {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width: 670px;
    padding-top: 30px;
  
    &__header {
      .headerTabletText;
      width: 670px;
      margin-bottom: 50px;
    }
  
    &__email {
      margin: 0;
      margin-bottom: 117px;
    }
  }
}