.footer {
  background-color: @lightGray;
  margin-top: 40px;
  
  &__logo {
    display: none;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 145px;
    .alignment;
    padding: 25px 0;

    &::before {
      content: '';
      position: absolute;
      width: 260px;
      height: 1px;
      top: 80px;
      left: 50%;
      margin-left: -130px;
      opacity: 0.1;
      background-color: @darkGray;
    }
  }

  &__developed {
    .font(@openSans; 18px; 18px; 700; @black);
    display: flex;
    width: 260px;
    .alignment;
    padding: 7px 0;
    padding-bottom: 14px;
    
    &-logo {
      padding-top: 12px;
    }

    & p {
      margin-left: 40px;
      margin-right: 35px;
    }

    & svg {
      & path {
        fill: @mintGreenColor;
      }

      &:hover {
        transform: scale(1.2);
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

@media @tablet-width {
  .footer {
    
    &__wrap {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 133px;
      width: 670px;
      .alignment;
      padding-top: 20px;
    }

    &__logo {
      display: flex;
      height: 55px;

      &-img {
        &:hover path {
          fill: @mintGreenColor;
        }

        &:active {
          opacity: 0.5;
        }
      }
    }
  
    &__links {
      height: 55px;
      margin: 0;
      margin-left: 160px;

      & svg {
        &:hover {
          transform: scale(1.2);
        }

        &:hover path {
          fill: @mintGreenColor;
        }

        &:active {
          opacity: 0.5;
        }
      }

      &::before {
        display: none;
      }
    }

    &__developed {
      height: 55px;
      width: 220px;
      margin: 0px;
      margin-left: auto;
    }
  }
}

@media @desktop-width {
  .footer {
    &__wrap {
      width: 1050px;
    }

    &__links {
      margin-left: 345px;
    }
  }
}