.map {
  height: 457px;
  margin-bottom: 39px;
}

@media @tablet-width {
  .map {
    width: 760px;
    margin-bottom: 125px;
    background-color: #f4f4f4;
  }
}

@media @desktop-width {
  .map {
    width: 525px;
    height: 457px;
    margin-bottom: 0px;
    margin-left: auto;
  }
}
