.order-product {
  width: 260px;
  .alignment;
  
  &__br,
  &__note {
    display: none;
  }  

  &__type-header,
  &__color-header,
  &__user-name-header,
  &__phone-header,
  &__email-header,
  &__user-comment-header {
    .formLabelText;
    display: flex;
    flex-grow: 10;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    text-transform: uppercase;
    min-width: 260px;
    color: @mentholColor;

    &::after {
      order: 3;
      content: '';
      flex-grow: 2;
      height: 1px;
      width: 100px;
      background-color: @mentholColor;
    }

    &::before {
      order: 2;
      content: '';
      width: 30px;
    }
  }

  &__email-header {
    &::before {
      left: 80px;
    }
  }

  &__type-label,
  &__color-label,
  &__user-name-label {
    .formLabelText;
    cursor: pointer;    
  }

  & input[type="checkbox"],
    input[type="radio"] {
    visibility: hidden;
    position: absolute;
  }

  &__preview {
    .paragraphText;
    line-height: 24px;
  }

  &__type {
    display: flex;
    flex-direction: column;
    
    &-header {
      margin-bottom: 33px;
    }

    &-label {
      position: relative;
      padding-left: 62px;
      margin-bottom: 35px;

      &::before {
        position: absolute;
        left: 0px;
        top: -10px;
        content: '';
        width: 35px;
        height: 35px;
        border: 2px solid @black;
        border-radius: 50%;
      }

      &:hover::before {
        border-color: @mentholColor;
      }

      &:active::before {
        border-color: #b0b0b0;
      }
    }
  
    & input:checked + label::before {
      background-image: url('../img/tick.svg');
      background-size: 16px 17px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  &__color {

    &-label {
      position: relative;
      margin-bottom: 47px;
      padding-left: 68px; 

      &::before {
        position: absolute;
        left: 0px;
        top: -14px;
        content: '';
        width: 38px;
        height: 39px;
        border: 2px solid @black;
      }
    
      &:hover::before {
        border-color: @mentholColor;
      }

      &:active::before {
        border-color: #b0b0b0;
      }
    }

    &-header {
      margin-top: 5px;
      margin-bottom: 37px;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
    }
  
    & input:checked + label::after {
      position: absolute;
      left: 11px;
      top: 0px;
      content: '';
      width: 22px;
      height: 17px;
      background-image: url('../img/icon-tick.svg');
      background-repeat: no-repeat;
      background-size: 22px 17px;
    }
  }

  &__user-name {
    display: flex;
    flex-direction: column;
    
    &-header {
      margin-top: 0px;
      margin-bottom: 30px;
    }

    &-label {
      margin-bottom: 10px;
    }

    & input {
      margin-bottom: 28px;
      height: 40px; 
      border: none;
      box-shadow: 0 2px 0 0 @black;
      background-color: transparent;
      outline: none;
    }
  }

  &__surname-wrap,
  &__name-wrap,
  &__patronymic-wrap,
  &__phone-wrap,
  &__email-wrap {
    display: flex;
    flex-direction: column;
    position: relative;

    & input:focus + .order-product__placeholder{
      display: none;
    }

    & input:focus {
      box-shadow: 0 2px 0 0 @mentholColor;
    }
  }

    &__phone-wrap,
    &__email-wrap {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 24px;
        right: 0px;
        top: 55px;
        background-image: url('../img/icon-phone.svg');
        opacity: 0.3;
      }
    }

    &__email-wrap {
      &::before {
        top: 45px;
        width: 32px;
        height: 26px;
        
        background-image: url('../img/icon-mail.svg');
      }
    }

  &__user-phone-email {
    display: flex;
    flex-direction: column;
    
    & input {
      margin-bottom: 28px;
      height: 40px; 
      border: none;
      box-shadow: 0 2px 0 0 @black;
      background-color: transparent;
      outline: none;
    }
  }

  &__phone-header {
    margin-bottom: 20px;
  }

  &__user-comment {
    position: relative;
    margin-bottom: 57px;


    &-header {
      margin-bottom: 35px;
    }

    &-textarea {
      box-sizing: border-box;
      padding: 10px;
      resize: none;
      width: 260px;
      height: 148px;
      border: 2px solid @black;
      background-color: transparent;
      outline: none;

      &:focus {
        border-color: @mentholColor;
      }
    }
  }
}

@media @tablet-width {
  .order-product {
    width: 100%;
    padding-top: 45px;

    &__type-header,
    &__color-header,
    &__user-name-header,
    &__phone-header,
    &__email-header,
    &__user-comment-header {
      &::after,
      &::before {
        display: none;
      }
    }

    &__type-label,
    &__color-label,
    &__user-name-label {
      .formLabelTabletText;
    }
    
    &__preview {
      .TabletParagraphText;
      width: 670px;
      .alignment;
      margin-bottom: 80px;
    }

    &__br {
      display: inline;
    }

    &__type {
      position: relative;
      width: 670px;
      .alignment;
      margin-bottom: 10px;

      &-label {
        .formLabelTabletText;
        width: 343px;
        margin-left: 160px;
        margin-bottom: 55px;  
        padding-left: 90px;

        &::before {
          width: 50px;
          height: 50px;
          top: -20px;
          left: 8px;
        }
      }
      
      & input:checked + label::before {
        background-image: url('../img/tick.svg');
        background-size: 22px 22px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      &-header {
        position: absolute;
        top: -18px;
      }
    }
  
    &__color {
      background-color: @lightGray;
      
      &-header {
        position: absolute;
        left: 0px;
        top: 70px;
      }

      &-label {
        .formLabelTabletText;
        box-sizing: border-box;
        width: 230px;
        padding-left: 88px;

        &::before {
          width: 52px;
          height: 50px;
        }
      }

      &-wrap {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 670px;
        min-height: 325px;
        padding-left: 165px;
        padding-top: 75px;
        padding-bottom: 20px;
        .alignment;

        & label:nth-of-type(2n-1) {
          margin-right: 35px;
        }
      
        & input:checked + label::after {
          left: 12px;
          top: 3px;
          width: 33px;
          height: 22px;
          background-size: 33px 22px;
        }
      }
    }
  
    &__user-name {
      margin-bottom: 32px;

      &-header {
        position: absolute;
        left: 0px;
        top: 65px;
      }

      &-label {
        margin-right: 25px;
      }

      &-wrap {
        position: relative;
        box-sizing: border-box;
        width: 670px;
        .alignment;
        padding-top: 60px;
        padding-left: 160px;
      }
    }
  
    &__surname-wrap,
    &__patronymic-wrap,
    &__name-wrap {
      display: flex;
      align-items: center;
      flex-direction: row;
      box-sizing: border-box;
      margin-bottom: 25px;
      padding-bottom: 10px;

      & input {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &__phone,
    &__email {
      &-header {
        position: absolute;
        top: -5px;
        left: 0px;
      }
    }
  
    &__user-phone-email {
      padding-top: 60px;
      padding-bottom: 35px;
      background-color: @lightGray;
    }

    &__phone-wrap,
    &__email-wrap {
      position: relative;
      box-sizing: border-box;
      flex-direction: row;
      width: 670px;
      .alignment;
      padding-left: 164px;

      &::before {
        right: 25px;
        top: 5px;
      }

      & input {
        z-index: 2;
        flex-grow: 1;
        margin-bottom: 35px;
      }
    }

    &__email-wrap {
      &::before {
        right: 20px;
        top: 5px;   
      }
    }

  
    &__user-comment {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 670px;
      .alignment;
      margin-bottom: 45px;
      padding-top: 64px; 
      
      &-header {
        flex-grow: 0;
        align-self: flex-start;
        min-width: 90px;
      }

      &-textarea {
        width: 500px;
        height: 142px;
      }
    }
    
    &__submit-wrap {
      display: flex;
      justify-content: space-between;
      width: 670px;
      height: 55px;
      .alignment;
    }

    &__note {
      .TabletParagraphText;
      display: flex;
      width: 280px;
    }
  
  }
}

@media @desktop-width {
  .order-product {
    margin-bottom: 90px;
    padding-top: 100px;

    &__type {
      width: 1050px;

      &-header {
        left: 75px;
      }

      &-label {
        margin-left: 175px;
      }
    }
  
    &__color {
      &-header {
        left: 70px;
      }
        
      & label:nth-of-type(2n-1) {
        margin-right: 20px;
      }

      &-label {
        width: 245px;
        margin-right: 20px;
      }

      &-wrap {
        width: 1050px;
        min-height: 250px;
        padding-left: 180px;
      }
    }
  
    &__user-name {
      &-header {
        top: 70px;
        left: 70px;
      }

      &-wrap {
        width: 1050px;
        padding-left: 185px;
        padding-right: 150px;
      }
    }
    
    &__email-wrap,
    &__phone-wrap {
      width: 1050px;
      padding-left: 185px;
      padding-right: 150px;

      &::before {
        right: 155px;
      }
    }

    &__email-wrap {
      &::before {
        right: 152px;
      }
    }

    &__email,
    &__phone {
      &-header {
        left: 70px;
      }
    }

    &__user-comment {
      box-sizing: border-box;
      width: 1050px;
      margin-bottom: 90px;
      padding-right: 170px;

      &-header {
        margin-left: 72px;
      }

      &-textarea {
        width: 700px;
      }
    }

    &__submit-wrap {
      width: 690px;
    }
  }
}
