.order-product {
  width: 260px;
  .alignment;
  margin-bottom: 60px;

  & h2 {
    .formLabelText;
    text-transform: uppercase;
    color: @mentholColor;
  }

  & label {
    .formLabelText;
    cursor: pointer;
  }

  & input[type="checkbox"],
    input[type="radio"] {
    visibility: hidden;
    position: absolute;
  }

  &__preview {
    .paragraphText;
    line-height: 24px;
  }

  &__type {
    display: flex;
    flex-direction: column;

    & label {
      position: relative;
      padding-left: 62px;
      margin-bottom: 35px;

      &::before {
        position: absolute;
        left: 0px;
        top: -5px;
        content: '';
        width: 35px;
        height: 38px;
        border: 2px solid @black;
        border-radius: 50%;
      }
    }

    & label:nth-of-type(2) {
      &::before {
        top: -12px;
      }
    }
  
    & input:checked + label::after {
      position: absolute;
      left: 12px;
      top: 8px;
      content: '';
      width: 16px;
      height: 17px;
      border-radius: 50%;
      background-color: @mentholColor;
    }

    & input:checked + label:nth-of-type(2)::after {
      position: absolute;
      left: 12px;
      top: 1px;
      content: '';
      width: 16px;
      height: 17px;
      border-radius: 50%;
      background-color: @mentholColor;
    }
  }

  &__color {
    display: flex;
    flex-direction: column;

    & label {
      position: relative;
      margin-bottom: 47px;
      padding-left: 68px; 

      &::before {
        position: absolute;
        left: 0px;
        top: -14px;
        content: '';
        width: 38px;
        height: 39px;
        border: 2px solid @black;
      }
    }
  
    & input:checked + label::after {
      position: absolute;
      left: 11px;
      top: 0px;
      content: '';
      width: 22px;
      height: 17px;
      background-image: url('../../img/icon-tick.svg');
      background-repeat: no-repeat;
      background-size: 22px 17px;
    }
  }

  &__user-name {
    display: flex;
    flex-direction: column;
    
    & label {
      margin-bottom: 10px;
    }

    & input {
      margin-bottom: 28px;
      height: 40px; 
      border: none;
      box-shadow: 0 2px 0 0 @black;
      background-color: transparent;
      outline: none;
    }
  }

  &__surname-wrap,
  &__name-wrap,
  &__patronymic-wrap,
  &__phone-wrap,
  &__email-wrap {
    display: flex;
    flex-direction: column;
    position: relative;

    & input:focus + .order-product__placeholder{
      display: none;
    }
  }

  &__placeholder {
    & span {
      .formPlaceholderText;
      z-index: -1;
      position: absolute;
      top: 35px;
    }
  }

  &__user-phone-email {
    display: flex;
    flex-direction: column;
    
    & input {
      margin-bottom: 28px;
      height: 40px; 
      border: none;
      box-shadow: 0 2px 0 0 @black;
      background-color: transparent;
      outline: none;
    }
  }

  &__placeholder--tel {
    & span {
      top: 50px;
    }
  } 

  &__placeholder--email {
    & span {
      top: 55px;
    }  
  }

  .order-product__email-wrap {
    & h2 {
      margin-bottom: 20px;
    }
  }

  &__user-comment {
    position: relative;
    margin-bottom: 57px;


    & h2 {
      margin-bottom: 35px;
    }

    & textarea {
      box-sizing: border-box;
      padding: 10px;
      resize: none;
      width: 260px;
      height: 148px;
      border: 2px solid @black;
      background-color: transparent;
    }

    & textarea:focus + .order-product__textarea-placeholder {
      display: none;
    }
  }

  &__textarea-placeholder {
    .formPlaceholderText;
    position: absolute;
    z-index: -1;
    width: 160px;
    top: 67px;
    left: 17px;
  }
}