.production-process {
  width: 260px;
  .alignment;
  margin-bottom: 65px;
  border: 1px solid @lightGray;

  &__header {
    .productNameText;
    position: relative;
    margin: 0;
    padding: 25px 34px;
    padding-left: 90px;

    &::before {
      position: absolute;
      content: '';
      width: 32px;
      height: 22px;
      top: 35px;
      left: 35px;
      background-image: url('../img/icon-video.svg');
      background-position: 50% 50%;
    }
  }

  &__icon-play {
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -50px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
      opacity: 0.8;
    }
  }
  
  &__video {
    position: relative;
    height: 150px;
    background-color: @lightGray;
  }

  &__description {
    .paragraphText;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 25px;

    &-wrap {
      padding: 25px 32px;
      padding-bottom: 30px;
    }
  } 
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .production-process {
    &__img {
      height: 150px;
      background-size: 260px 150px;
      background-color: transparent;
      background-image: url('../img/video-desktop@2x.jpg');
      background-repeat: no-repeat;

      & img {
        height: 0px;
      }
    }
  }
}

@media @tablet-width {
  .production-process {
    display: flex;
    flex-direction: column;
    width: 670px;
    min-height: 743px;

    &__header {
      order: 2;
      .productTabletNameText;
      padding-top: 35px;

      &::before {
        left: 40px;
      }
    }
    
    &__icon-play {
      position: absolute;
      top: 195px;
    }

    &__video {
      order: 1;
      width: 670px;
      height: 455px;
    }

    &__description {
      .TabletParagraphText;
      margin-top: 10px;
      margin-bottom: 33px;

      &-wrap {
        order: 3;
        padding: 25px 40px;
        padding-top: 0;
      }
    }
  
    &__img {
      & img {
        width: 670px;
      }
    }
  }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .production-process {
      &__img {
        height: 457px;
        background-size: 670px 457px;
      }
    }
  }
}

@media @desktop-width {
  .production-process {
    width: 1050px;
    min-height: auto;
  
    &__header {
      width: 100px;
      margin-left: auto;
      margin-right: 145px;
      padding-top: 95px;

      &::before {
        top: 45px;
        left: 83px;
      }
    }
    
    &__description {
      margin-top: 8px;
      margin-bottom: 45px;
    }

    &__description-wrap {
      width: 245px;
      margin-left: auto;
      padding-bottom: 67px;
    }

    &__video {
      width: 681px;
      position: absolute;
    }
  
    &__img {
      & img {
        width: 681px;
        height: 461px;
      }
    }
  }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .production-process {
      &__video {
        width: 665px;
      }

      &__img {
        width: 665px;
        height: 461px;
        background-size: 670px 462px;

        & img {
          height: 0px;
        }
      }
    }
  }
}

