.production-process {
  width: 260px;
  .alignment;
  margin-bottom: 60px;
  border: 1px solid @lightGray;

  &__header {
    .productNameText;
    margin: 0;
    padding: 25px 34px;
    padding-left: 80px;
  }
  
  &__video {
    height: 150px;
  }

  &__description {
    .paragraphText;
    line-height: 24px;

    &-wrap {
      padding: 35px 32px;
    }
  }
}