.product {
  margin-bottom: 30px;
  cursor: pointer;

  &__img {
    width: 259px;
    height: 195px;
  }
  
  &__card {
    border: 1px solid @lightGray;
    padding: 28px;
  }

  &__description {
    margin-bottom: 15px;

    & h3 {
      .productNameText;
      margin:  0;
      margin-bottom: 5px;
    }

    & span {
      .paragraphText;
    }
  }

  &__price {
    .alignment;
    width: 200px;
    border-top: 1px solid @lightGray;
    padding-top: 20px;

    & span {
      .productPriceText;
    }
  }
}

@media @tablet-width {
  .product {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 54px;

    @keyframes shadow {
      100% {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
      }
    }

    &:hover &__card {
      animation: shadow 0.2s ease-in-out 0s forwards; 
    }

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }

    &__img {
      width: 334px;
      height: 334px;
    }

    &__description {
      
      & h3 {
        .productTabletNameText;
      }

      & span {
        .productTabletDescriptionText;
      }
    }

    &__price {
      position: relative;
      margin: 0;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        right: 0px;
        width: 21px;
        height: 18px;
        opacity: 0.2;
        background-image: url('../img/icon-cart.svg');
      }

      & span {
        .productTabletPriceText;
      }
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .product {
      & img {
        width: 335px;
      }

      &__card {
        box-sizing: border-box;
        width: 335px;
        height: 251px;
      }
    }  
  }
}

@media @desktop-width {
  .product {
    flex-direction: column;
    width: 315px;
  
    &__img {
      width: 316px;
      height: 462px;
    }

    &__card {
      justify-content: space-between;
      box-sizing: border-box;
      flex-grow: 1;
    }

    &__description {
      margin-bottom: 15px;
    }

    &__price {
      &::before {
        right: 0px;
      }
    }
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .product {
      &__img {
        height: 235px;
      }
    }  
  }
}